<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLDbConnection" connectionString="Server=servername; Database=pubs; User Id=username; password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>