<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MySQLConnStr" connectionString="DRIVER={MySQL ODBC 5.3 ANSI Driver};Database=programamestadb;Server=mysql4.gear.host;UID=programamestadb;PWD=Ot0S2-PVBA~A;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
</configuration>